<%= form_for :playlist_item,
             routes.path(:playlist_item_create, playlist_id: playlist.id),
             method: :post,
             class: "bit-form" do |form| %>
  <%= render :fields, form:, screen_options:, item:, fields: fields.value, errors: %>

   <div class="form-actions">
     <%= form.submit "Save", class: "bit-button-accept" %>

     <%= link_to "Cancel", routes.path(:playlist, id: playlist.id), class: "bit-button-decline" %>
   </div>
<% end %>
